.ts-top-companies {
  height: 781px;
  background-color: white;
  padding-top: 60px;
  &__header-container {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
    &__header {
      height: 21px;
      color: #202020;
      font-family: Quicksand;
      font-size: 30px;
      font-weight: 700;
    }

    &__description {
      height: 17px;
      color: #888888;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__btn-container {
    text-align: center;
    margin-top: 60px;
  }
  &--btn-load-companies {
    color: #202020;
    border-radius: 8px;
    height: 50px;
    width: 234px;
    border-color: #fb236a;
  }
}