

.bt {
    font-family: Avenir;
	font-size: 14px;
    letter-spacing: 1.5px;
    outline: 0px;
    cursor: pointer;
}

.bt-outline {
    &:extend(.bt);
    background-color: transparent;
    border: 1px solid white;
}


.bt-primary {
    &:extend(.bt);
    background-color: #e94347;
    border: none;
}

.bt-green {
    &:extend(.bt);
    background-color: #2dcb50;
    border: none;
}

.bt-green-border {
    &:extend(.bt-outline);
    border: 1px solid #2dcb50;
    color: #2dcb50;
    
}