@import '../../../../index.less';

.search-section {
    height: 670px;
    background-color: @ts-blue-mirage;
    background-image: url('../../../../assets/images/bg-header.png');
    background-position: bottom;
    background-size: cover;
    &_title {
        text-align: center;
        margin-top: 150px;
        height: 59px;
        font-family: Avenir;
        font-size: 43px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #ffffff;
        span {
            color: @ts-red;
        }
    }

    &__field {
        border-radius: 4px;
        background-color: #0C192D;
        margin-top: 15px;
        margin-left: 40px;
        margin-right: 40px;
        padding-bottom: 26px;
        &_input{
            margin-top: 24px;
            margin-left: 31px;
        }

        &_select {
            margin-top: 26px;
            margin-left: 38px;
        }
        &_button {
            margin-top: 26px;
            margin-left: 38px;
        }
    }
    
}




.search-button-top {
   
}

.search-select {
    &:extend(.search-button-top);
    
}

