@import '../../index.less';
.ts-login-content {
    &__btn-apply {
        #fonts.sans-serif(@family: 'Quicksand-Bold', @weight: 700, @size: 18px, @letterSpacing: 0px);
        width: 100%;
        color: #ffffff;
        height: 60px;
        border-radius: 8px;
        background-color: #8b91dd;
    }
    &_wrapper {
        &_apply {
            text-align: center;
            &__button {
                border-radius: 8px;
                border-width: 2px;
                width: 145px;
                &:hover {
                    color: inherit;
                }
            }
        }
        &_first {
            margin-bottom: 0 !important;
            &_apply-select {
                width: 430px;
                height: 50px;
                margin-bottom: 25px;
                div:first-child {
                    height: 100%;
                    padding-left: 10px;
                }
                .ant-select-selection {
                    border: 2px solid #e6e8ef;
                    border-radius: 8px;
                    span {
                        margin-right: 10px;
                        font-size: 16px;
                        color: #ff4d82
                    }
                }
                div:first-child .ant-select-selection-selected-value {
                    line-height: 50px;
                }
            }
        }
        &_seperate-social {
            &_line {
                height: 1px;
                background-color: #000000;
            }
            &_text {
                text-align: center;
            }
        }
        &_social {
            text-align: center;
        }
    }
}