@import "../../index.less";
.header {
  background-color: #10223f;
  color: white;
  padding: 20px 50px;
  height: 90px;
  &__container{
      height: 100%;
      color: white;
  }
  &__logo {
      margin-top: 20px;
  }
  &__menu {
    #fonts > .sans-serif('AvenirNext-Medium', normal, 16px);
    display: flex;
    justify-content: center;
    background: transparent;
    border-bottom: none;
    & .ant-menu-item {
      color: white;
      &:hover {
        color: #e94347;
      }
    }
    & .ant-menu-item-selected {
      background-color: transparent!important;
    }
  }
  &__btnSignIn {
    margin-right: 20px
  }
}
