.header {
    height: 96px;
    background-color: #10223f;
    color: white;
    .header-row{
        height: 100%;
        color: white;
        
    }
    .logo {
        margin-left: 50px;
        margin-top: 20px;
        float: left;
    }
    ul {
        margin-top: 37px;
            li {
                float: left;
                font-family: "Avenir Next";
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 1.5px;
                margin-left: 44px;
                a{
                    color:white;
                    font-family: Avenir;
                    font-size: 16px;
                    font-weight: 100;
                    letter-spacing: 1.5px;
                }
                
            }
    }
}

.button-signin {
    margin-top: 32px;
    margin-left: 45px
}
.button-apply {
    margin-left: 15px
}
.boder-bottom{
    width: 93%;
    margin: 0 auto;
    border-bottom: 1px solid #3B4656;
    margin-top: 20px;
}

