@font-face {
  font-family: 'AvenirNext-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNext-Regular'), url(./assets/fonts/AvenirNext-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirNext-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNext-Bold'), url(./assets/fonts/AvenirNext-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirNext-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNext-BoldItalic'), url(./assets/fonts/AvenirNext-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirNext-DemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNext-DemiBold'), url(./assets/fonts/AvenirNext-DemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirNext-DemiBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNext-DemiBoldItalic'), url(./assets/fonts/AvenirNext-DemiBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirNext-Italic';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNext-Italic'), url(./assets/fonts/AvenirNext-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirNext-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNext-Medium'), url(./assets/fonts/AvenirNext-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirNext-MediumItalic';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNext-MediumItalic'), url(./assets/fonts/AvenirNext-MediumItalic.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'AvenirNext-Regular', sans-serif;
}
