@import "../../index.less";
.fj-card {
    height: 179px;
    border-radius: 5px;
    background-color: @ts-white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
    padding-top: 20px;
    margin-top: 24px;
    &__row {
        padding-left: 20px;
        margin-bottom: 10px;
        ul {
            li {
                margin-bottom: 5px;
            }
        }
    }
    &_title {
        #fonts > .sans-serif('AvenirNext-DemiBold', normal, 18px, 1.2px);
        color: @ts-blue-mirage;
    }

    &_company {
        #fonts > .sans-serif('AvenirNext-Medium', normal, 16px, 1.1px);
        color: @ts-blue-havelock;
    }
    &_salary {
        #fonts > .sans-serif('AvenirNext-Medium', normal, 16px, 1.1px);
        color: @ts-red;
    }

    &_location {
        #fonts > .sans-serif('AvenirNext-Medium', normal, 16px, 1.1px);
        color: @ts-gray;
    }
    &__requires {
        padding-top: 5.5px;
        padding-bottom: 7px;
        border-top: solid 1px @ts-white;
        &__skills {
            padding-left: 20px;
            #fonts > .sans-serif('AvenirNext-Medium', normal, 12px, 0.8px);
            color: #424242;
            span{
                #fonts > .sans-serif('AvenirNext',normal, 12px, 0.8px);
                color: @ts-gray;
            
            }
        }
    }
}

.image-star {
    margin-left: 70px;
    padding-bottom: 55px;
}

